<nav class="tab-nav">
  {% for item in site.data.nav %}
  {% if page.lang == 'es' %}
    {% assign nav_url = item.url_es %}
    {% assign nav_title = item.title_es %}
    {% assign nav_subtitle = item.subtitle_es %}
  {% else %}
    {% assign nav_url = item.url_en %}
    {% assign nav_title = item.title_en %}
    {% assign nav_subtitle = item.subtitle_en %}
  {% endif %}
  <a href="{{ nav_url | relative_url }}" class="nav-tile{% if page.page_id == item.page_id %} active{% endif %}">
    <span class="nav-title">{{ nav_title }}</span>
    <span class="nav-subtitle">{{ nav_subtitle }}</span>
  </a>
  {% endfor %}
</nav>
